body {
  background-color: #eef;
}

.blogbar {
  color: white;
  background-color: black;
  text-align: right;
}
.blogbar a:visited {
  color: white;
}

.entry_container {
  border-left: solid 15px #aaf;
  padding-left: 10px;
}
.entry_title a {
  text-decoration: none;
}
.entry_footer {
  margin-top: 0.5em;
}